<%- include("partials/header.ejs") %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav my-2">
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="display-4 text-center border-bottom">Your Expenses</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 100px;">

            <form class="d-inline" action="/expenses/search" method="POST">

                <div class="form-row">

                    <div class="col-auto">
                        <label for="monthInput">Month</label>
                        <select name="monthPicker" class="custom-select form-control" id="monthInput" required>

                            <% for(var m=0; m<=11; m++) { %>
                            <option value="<%= m+1 %>"> <%= monthArray[m] %> </option>
                            <% } %>
                        </select>
                    </div>



                    <div class="col-auto">
                        <label for="yearInput">Year</label>
                        <select name="yearPicker" class="custom-select form-control" id="yearInput" required>
                            <% for(var y=0; y<=499; y++) { %>
                            <option value="<%= y+2000 %>"> <%= yearsArray[y] %> </option>
                            <% } %>
                        </select>
                    </div>



                    <div class="col-auto">

                        <br>
                        <button class="btn btn-primary" type="submit" id="buttonInput"
                            style="padding: 10px;">SEARCH</button>
                    </div>


                    <div class="col-auto">

                        <br>
                        <a class="btn btn-primary" href="/home" style="padding: 10px;">BACK</a>
                    </div>

                </div>


            </form>


            <table class="table" style="margin-top: 100px;">


                <caption>Expenses for the month of <span class="font-weight-bold"> <%= monthArray[currentMonth] %>
                    </span> </caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>

                <tbody>
                    <% currentMonthExpensesList.forEach(function(expense){ %>

                    <tr>

                        <td><%=expense.category%></td>
                        <td><%=expense.description%></td>
                        <td><%=expense.amount%></td>
                        <td><a href="/expenses/<%=expense._id%>/edit">edit</a></td>

                    </tr>

                    <%});%>
                </tbody>
            </table>





        </div>

        <div class="col-md-6" style="margin-top: 100px;">
            <h1 class="display-5 border-bottom">Hi, <span style="font-size: 22px;">below is a summary of your
                    expenses.</span></h1>
            <br>


            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 18rem; height: 18rem; margin-top: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Total Expenses so far</h5>
                            <p class="card-text">Rs. <%=sumExpenses%></p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="width: 18rem; height: 18rem; margin: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Expenses for the month of <%= monthArray[currentMonth] %> </h5>
                            <p class="card-text">Rs. <%=sumExpensesPerMonth%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 18rem; height: 18rem; margin-top: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Category Wise Expenses so far</h5>
                            <% for (const [category, amount] of Object.entries(categoryExpenses)){ %>
                            <p class="card-text font-weight-bold"> <%= category %></p>
                            <p class="card-text"> <%= amount %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="width: 18rem; height: 18rem; margin: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Category Wise Expenses for the month of
                                <%= monthArray[currentMonth] %></h5>
                            <% for (const [category, amount] of Object.entries(categoryExpensesPerMonth)){ %>
                            <p class="card-text font-weight-bold"> <%= category %></p>
                            <p class="card-text"> <%= amount %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






<%- include("partials/footer.ejs") %>